* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
}
.grid, td {
    border: 1px solid black;
}
td {
    width: 8%;
}
#player_data {
    border: 1px solid black;
    width: 100%;
    height: 150px;
}
#player_search {
    border: 1px solid black;
    width: 10%;
    height: 75vh;
    float: left;
}
table {
    width: 90%;
    background-color: beige;
}
input {
    width: 80%;
}
#playerList {
    padding: 0;
}
li {
    list-style: none;
    border: 1px solid black;
    cursor: pointer;
}
