* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
}
.grid, td {
    border: 1px solid black;
}
td {
    width: 8%;
}
#player_data {
    border: 1px solid black;
    width: 100%;
    height: 150px;
}
#player_search {
    border: 2px solid black;
    width: 10%;
    height: 75vh;
    float: left;
    overflow: scroll;
}
table {
    width: 90%;
    background-color: beige;
}
input {
    width: 80%;
}
#playerList {
    padding: 0;
    border: 1px solid black;
    
}
li {
    list-style: none;
    border: 1px solid black;
    cursor: pointer;
}
#playerPositionTeam {
    float: left;
    display: inline-block;
    width: 10%;
    border: 2px solid black;
    height: 100%;
}
#playerStats {
    display: inline-block;
    border: 2px solid black;
    width: 90%;
    height: 100%;
    padding: 0;
    margin: 0;
}
#lastYear {
    display: inline-block;
    border: 1px solid black;
    height: 100%;
    width: 15%;
}
.statBox {
    display: inline-block;
    border: 1px solid black;
    width: 10%;
}
#draftButtonContainer {
    display: inline-block;
    width: 15%;
}
h4 {
    margin: 0;
}
p {
    margin: 0;
    padding: 0;
}
p, 
span {
    font-weight: bold;
}
td {
    width: 9%;
    height: 22px;
    display: inline-block;
    overflow: hidden;
    position: relative;
}
.active {
    width: 150px;
    height: 50px;
    background-color: rgba(255, 0, 0, 0.603);
    font-weight: bold;
    border-color: darkgrey;
}
.disabled {
    width: 150px;
    height: 50px;
    background-color: lightgrey;
    color: darkgrey;
}