html {
    background-image: url(emptyChairs.jpg);
    background-repeat: none;
    background-size: cover;
}
#form {
    border-color: rgba(85, 87, 91, 0.4);
    border-width: 1px;
    border-style: solid;
    background-color: rgba(85, 87, 91, 0.6);
    width: 300px;
    text-align: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 15%;
    border-radius: 4px;
}
input[type=submit] {
    margin: 2px;
}
input[type=text] {
    margin: 2px;
}
label {
    float: left;
    width: 50px;
    padding: 1px;
}
